## My ignored files

# Testing images
*/test.image/
*/7m.fits
*/integrated_PN_6-5_TM1.fits
*/MAD_CUB_member.uid___A001_X133d_X321b.IRAS_16293-2422_sci.spw20.cube.I.pbcor.fits

# File extensions
*.eps
*.pdf
*.gif

# Log files
*.log
*.last